<div class="col s12 m7">
    <div class="card horizontal">
        <div class="card-image">
            <img src="{{drinkOneCtrl.drink.img}}">
        </div>
        <div class="card-stacked">
            <div class="card-content">

                <ul class="collection with-header">
                    <li class="collection-header">
                        <h4>{{drinkOneCtrl.drink.name}}</h4></li>
                    <li class="collection-item" ng-repeat="ingredient in drinkOneCtrl.ingredients">{{ingredient.amount}} --- {{ingredient.name}}</li>
                </ul>
                <a class="waves-effect waves-teal btn-flat">Edit</a>
            </div>
        </div>
    </div>
</div>
